<form class="form-horizontal">
	<h3>OctoLight settings</h3>
	<div class="control-group">
		<p>If LED strip has been selected ensure that the pin selected is either a PWM, PCM or SPI pin</p>
		<label class="control-label">{{ _('Light PIN') }}</label>
		<div class="controls">
			<input id="light_pin-input" type="number" min="1" max="40" class="input-small" data-bind="value: settings.plugins.octolight.light_pin">
		</div>

		<div class="controls">
			<label class="checkbox">
				<input type="checkbox" data-bind="checked: settings.plugins.octolight.inverted_output">
				{{ _('Inverted output') }}
			</label>
		</div>
		<div class="controls">
			<label class="checkbox">
				<input type="checkbox" data-bind="checked: settings.plugins.octolight.is_button_enabled">
				{{ _('Enable physical button') }}
			</label>
		</div>
		<label class="control-label">{{ _('Button PIN') }}</label>
		<div class="controls">
			<input type="number" min="1" max="40" class="input-small" data-bind="value: settings.plugins.octolight.button_pin">
		</div>
		<div class="controls">
			<label class="checkbox">
				<input type="checkbox" data-bind="checked: settings.plugins.octolight.is_led_strip">
				{{ _('Led strip') }}
			</label>
		</div>
		<label class="control-label">{{ _('Number of leds') }}</label>
		<div class="controls">
			<input type="number" min="1" class="input-small" data-bind="value: settings.plugins.octolight.nb_leds">
		</div>
	</div>
</form>